.add-product {
    text-align: left;
}

.add-product .title {
    font-size: 25px;
    margin-bottom: 1em;
}

.margin-left-1 {
    margin-left: 1em;
}

.add-product .flexbox {
    justify-content: center;
}
.add-product .badge {
    margin-right: 0.5em;
}

.add-product .btnGroup {
    margin-top: 3em;
}
.add-product .btnGroup button {
    background-color: transparent;
    border: 1px solid #a5d8ff;
    border-radius: 30em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.add-product .btnGroup button:hover {
    background-color: #a5d8ff;
}