.detail .summary {
    background: #a5d8ff;
    padding: 1em;
    vertical-align: middle;
    padding-top: 10em;
    padding-bottom: 10em;
    color: #ffffff;
    margin-bottom: 2em;
}

.detail .title {
    font-size: 50px;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    margin-bottom: 1em;
}

.detail .description {
    font-size: 20px;
}

.detail .tags span{
    margin-left: 0.5em;
}

.detail .card-item {
    display: flex;
}
.detail .card-item img {
    width: 300px;
    height: auto;
    float: left;
}

.detail .card-item .text {
    margin: auto;
    text-align: left;
    margin-left: 1em;
}

.detail .card-item .text .title {
    font-size: 40px;
    font-weight: bold; 
}
