.add-product {
    text-align: left;
}

.add-product .title {
    font-size: 25px;
    margin-bottom: 1em;
}

.material-button {
    border-radius: 0;
    width: 10em;
    background-color: #a5d8ff;
    border: none;
}

.material-button:hover {
    background-color: #4dabf7;
}
.margin-left-1 {
    margin-left: 1em;
}

.add-product .flexbox {
    justify-content: center;
}
.add-product .badge {
    margin-right: 0.5em;
}