.colorPalette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.5em;
}
.colorPalette .color {
    min-width: 2em;
    height: 2em;
    text-align: center;
}
