.person {
    position: relative;
    min-width: 18rem;
}


.person .background {
    position: relative;
    height: 150px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: center;
}

.person .thumbnail-background {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person .thumbnail {
    width: 83px;
    height: 83px;
    object-fit: cover;
    border-radius: 50%;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.person .card-body {
    margin-top: 2em;
}

.person .name {
    font-size: 20px;
    color: #495057;
}

.person .email {
    font-size: 14px;
}

.person .introduce {
    font-size: 14px;
    color: #495057;
    border: none;
    margin-bottom: 0.5em;
}

.person .flexbox {
    justify-content: space-around;
    margin-top: 1em;
}

.person .social-button {
    width: 33%;
    text-decoration: none;
}

.person .social-button i {
    display: flex;
    justify-content: center;
    color: #343a40;
}

.person .social-button div {
    color: #343a40;
    font-size: 13px;
    text-align: center;
}

.person .border-right {
    border-right: 1px solid rgba(0,0,0,.125);
}

.person .project-button {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.125);
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    cursor: pointer;
}

.person .project-item {
    padding: 0.5em 1em;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #343a40;
}
.person .project-item img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1em;
}
.person .project-item div {
    line-height: 40px;
    vertical-align: middle;
}

.person .button-group {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    display: flex;
}
.person .button-group button{
    width: 25px;
    height: 25px;
    background: transparent;
    border : 1px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.person .button-group button:focus {
    outline: none;
}
.person .button-group button img {
    width: 15px;
    height: 15px;
}

.person .card {
    z-index: 999;
    margin-bottom: 0;
}

.person #products {
    position: relative;
    bottom: 0;
    margin-left: 1em;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
@keyframes slide-in {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@-webkit-keyframes slide-in {
    0% { transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0%); }
}   
@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}
@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(-100%); }
}

