.form .form-header {
    height: 8em;
    background-color: #ee6e73;
}

.form .input-text {
    width: 100%;
    margin-bottom: 1em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}

.form .thumbnail-box {
    margin-top: 10px;
    display: inline-block;
}

.form .thumbnail-box .input-file {
    width: 100%;
    margin-bottom: 1em;
}

.form .thumbnail-box input[type="file"] {
    display: none;
} 

.form .thumbnail-box .input-text {
    width: auto;
}

.form .thumbnail-box label {
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
    margin-left: 0.5em;
    text-align: center;
    background-color: #ee6e73;
    vertical-align: middle;
    line-height: initial;
    float: right;
    padding: 0.3em 0.5em 0.3em 0.5em;
    color: #fff;
}

.form textarea {
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid rgba(0,0,0,.125);
    padding-left: 10px;
    padding-right: 10px;
}

.form .submit {
    background-color: #ee6e73;
    border-radius: 0;
    width: 100%;
    color: #fff;
}