.formItem {
    background: #f8f9fa;
    padding: 1em;
}

.formItem img {
    max-width: 100%;
}

.formItem .title {
    font-size: 25px;
    margin-bottom: 1em;
}

.formItem .group {
    margin-bottom: 1em;
}

.formItem .group .fieldName {
    font-size: 12px;
    color: #868e96;
}

.formItem .group input {
    width: 100%;
    padding-left: 0.5em;
}

.formItem .title {
    font-size: 18px;
    margin-bottom: 0.5em;
}

.margin-bottom-3 {
    margin-bottom: 3em;
}
.margin-bottom-1 {
    margin-bottom: 1em;
}

.delete-button {
    cursor: pointer;
}
