.home {
    height: 100%;
    margin-top: -8em;
}

.home .title {
    margin-bottom: 1.5em;
    font-weight: 600;
    color: #495057;
    font-size: 36px;
    line-height: 1.2;
    text-align: left;
}

.home .sub {
    font-size: 18px;
    font-weight: 400;
    color: #868e96;
    line-height: 1.5;
    text-align: left;
}

.elem1 {
    height: 70%;
    padding-top: 15em;
}

.elem2 {
    height: 30%;
    background: #e3fafc;
}