.product.card {
    width: 18rem;
}
.product .thumbnail {
    width: 100%;
    max-width: 300px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.product .thumbnail-wrapper {
    position: relative;
}

.product .name {
    font-size: 20px;
    color: #495057;
    margin-bottom: 0.3em;
}

.product .description {
    font-size: 14px;
}

.product .project-container {
    padding: 1em;
}

.product .developer {
    margin-top: 0.5em;
    justify-content: flex-start;
}
.product .developer img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5em;
    align-self: center;
    border: 1px solid rgba(0,0,0,.125);
}

.product .add-button {
    background-color: transparent;
    border: 1px solid #a5d8ff;
    border-radius: 30em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
}

.product .add-button:hover {
    background-color: #a5d8ff;
}

.product .button-group {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    display: flex;
}
.product .button-group button{
    width: 25px;
    height: 25px;
    background: transparent;
    border : 1px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product .button-group button:focus {
    outline: none;
}
.product .button-group button img {
    width: 15px;
    height: 15px;
}

.product .developers img{
    cursor: pointer;
}